{{

response.files.append(URL('static','css/cropper.min.css'))
response.files.append(URL('static','js/cropper.js'))
}}

{{extend 'layout.html'}}

<h1>This is the project_demo/cropper.html template</h1>


<span id="lblError"></span>
<div id="target"></div>
<input type="text" name="name_image" id="imageid">
<div class="cropper-example-1 container" style="width: 600.64px; height: 369.36px; left: 112.68px; top: 71.82px;">
  <img src="{{=URL('static','images/scenary.jpg')}}" alt="Smiley face" >
</div>
<input type="button" name="crop_attempt" value="Crop" id="getDataButton">
<h2>
   <p id="demo"></p>
    <p id="showValue"></p>
    <p id="displayValue"></p>
</h2>
<div id="preview">
    
</div>
<script>
   croppedItem  = $('.container > img').cropper({
  aspectRatio: 16 / 9,
  autoCropArea: .8,
  strict: true,
  guides: false,
  highlight: true,
  dragCrop: false,
  cropBoxMovable: false,
  cropBoxResizable: false,
  background: false
});
    $("#getDataButton").click(function(){
        event.preventDefault();
      var file_data=croppedItem.cropper('getCroppedCanvas');
      var canvas_data=file_data.toDataURL();
        canvas_data=canvas_data.split(",")[1];
         $("#preview").html(canvas_data);
      var form_data = new FormData();
        form_data.append("name_image",$('input#imageid').val())
        form_data.append("file", canvas_data)
        var xhr = new XMLHttpRequest();
       xhr.onreadystatechange = function() {
			if (xhr.readyState == 4 && xhr.status == 200) {
				document.getElementById("target").innerHTML = xhr.responseText;
                document.getElementById("lblError").innerHTML = "";
			}
		}
        xhr.open("POST", "{{=URL("project_demo","image_insert2")}}", true);
        xhr.send(form_data);
    });
   </script>
{{
record = SQLTABLE(db().select(db.imagestore.ALL),
                       upload = URL('default','download'), # allows pics preview
                       headers='fieldname:capitalize')

}}
{{=record}}
